<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Firefox Test Pilot</title>
  <link rel="canonical" href="http://testpilot.firefox.com/">
</head>
<body>
  <% if (htmlWebpackPlugin.options.pontoon) { %>
    <script src="https://pontoon.mozilla.org/pontoon.js"></script>
  <% } %>
</body>
</html>
